<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>
        Naive NIDS
    </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="{% static 'nids/css/x-admin.css' %}" media="all">
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header header header-demo">
        <div class="layui-main">
            <a class="logo" href="{% static 'nids/images/logo.png' %}">
                Naive NIDS
            </a>
            <ul class="layui-nav" lay-filter="">
                <li class="layui-nav-item"><img src="{% static 'nids/images/logo.png' %}" class="layui-circle" style="border: 2px solid #A9B7B7;" width="35px" alt=""></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">{{ usr_login }}</a>
                    <dl class="layui-nav-child"> <!-- 二级菜单 -->
                        <!--<dd><a href="{% url 'nids:panel_profile' %}">个人信息</a></dd>-->
                        <dd><a href="{% url 'nids:action_logout' %}">退出</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="" title="消息">
                        <i class="layui-icon" style="top: 1px;">&#xe63a;</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-side layui-bg-black x-side">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree site-demo-nav" lay-filter="side">
                <li class="layui-nav-item">
                    <a class="javascript:;" href="javascript:;">
                        <i class="layui-icon" style="top: 3px;">&#xe607;</i><cite>告警信息</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd class="">
                        <dd class="">
                            <a href="javascript:;" _href="{% url 'nids:panel_latest_warning' %}">
                                <cite>最新告警</cite>
                            </a>
                        </dd>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="javascript:;" href="javascript:;">
                        <i class="layui-icon" style="top: 3px;">&#xe634;</i><cite>日志管理</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd class="">
                            <a href="javascript:;" _href="{% url 'nids:panel_log_query' %}">
                                <cite>日志查询</cite>
                            </a>
                        <dd>
                        <dd class="">
                            <a href="javascript:;" _href="{% url 'nids:panel_log_export_history' %}">
                                <cite>导出记录</cite>
                            </a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="javascript:;" href="javascript:;">
                        <i class="layui-icon" style="top: 3px;">&#xe62d;</i><cite>协议分类</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd class="">
                        <dd class="">
                            <a href="javascript:;" _href="{% url 'nids:panel_tcp_warning' %}">
                                <cite>TCP告警</cite>
                            </a>
                        </dd>
                        </dd>
                        <dd class="">
                        <dd class="">
                            <a href="javascript:;" _href="{% url 'nids:panel_udp_warning' %}">
                                <cite>UDP告警</cite>
                            </a>
                        </dd>
                        </dd>
                        <dd class="">
                        <dd class="">
                            <a href="javascript:;" _href="{% url 'nids:panel_icmp_warning' %}">
                                <cite>ICMP告警</cite>
                            </a>
                        </dd>
                        </dd>
                        <dd class="">
                        <dd class="">
                            <a href="javascript:;" _href="{% url 'nids:panel_port_scan_warning' %}">
                                <cite>端口扫描</cite>
                            </a>
                        </dd>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="javascript:;" href="javascript:;">
                        <i class="layui-icon" style="top: 3px;">&#xe630;</i><cite>IP分类</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd class="">
                            <a href="javascript:;" _href="{% url 'nids:panel_srcip_warning' %}">
                                <cite>来源IP</cite>
                            </a>
                        </dd>
                        <dd class="">
                            <a href="javascript:;" _href="{% url 'nids:panel_dstip_warning' %}">
                                <cite>目的IP</cite>
                            </a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="javascript:;" href="javascript:;">
                        <i class="layui-icon" style="top: 3px;">&#xe630;</i><cite>端口分类</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd class="">
                            <a href="javascript:;" _href="{% url 'nids:panel_srcport_warning' %}">
                                <cite>来源端口</cite>
                            </a>
                        </dd>
                        <dd class="">
                            <a href="javascript:;" _href="{% url 'nids:panel_dstport_warning' %}">
                                <cite>目的端口</cite>
                            </a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="javascript:;" href="javascript:;">
                        <i class="layui-icon" style="top: 3px;">&#xe629;</i><cite>流量统计</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd class="">
                            <a href="javascript:;" _href="{% url 'nids:panel_icmp_warning' %}">
                                <cite>拆线图</cite>
                            </a>
                        </dd>
                        <dd class="">
                            <a href="javascript:;" _href="{% url 'nids:panel_icmp_warning' %}">
                                <cite>柱状图</cite>
                            </a>
                        </dd>
                        <dd class="">
                            <a href="javascript:;" _href="{% url 'nids:panel_icmp_warning' %}">
                                <cite>地图</cite>
                            </a>
                        </dd>
                        <dd class="">
                            <a href="javascript:;" _href="{% url 'nids:panel_icmp_warning' %}">
                                <cite>饼图</cite>
                            </a>
                        </dd>
                        <dd class="">
                            <a href="javascript:;" _href="{% url 'nids:panel_icmp_warning' %}">
                                <cite>雷达图</cite>
                            </a>
                        </dd>
                        <dd class="">
                            <a href="javascript:;" _href="{% url 'nids:panel_icmp_warning' %}">
                                <cite>k线图</cite>
                            </a>
                        </dd>
                        <dd class="">
                            <a href="javascript:;" _href="{% url 'nids:panel_icmp_warning' %}">
                                <cite>热力图</cite>
                            </a>
                        </dd>
                        <dd class="">
                            <a href="javascript:;" _href="{% url 'nids:panel_icmp_warning' %}">
                                <cite>仪表图</cite>
                            </a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="javascript:;" href="javascript:;">
                        <i class="layui-icon" style="top: 3px;">&#xe612;</i><cite>个人管理</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd class="">
                            <a href="javascript:;" _href="{% url 'nids:panel_profile' %}">
                                <cite>个人信息</cite>
                            </a>
                        </dd>
                        <dd class="">
                            <a href="javascript:;" _href="{% url 'nids:panel_profile_update' %}">
                                <cite>信息修改</cite>
                            </a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="javascript:;" href="javascript:;">
                        <i class="layui-icon" style="top: 3px;">&#xe612;</i><cite>用户管理</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd class="">
                            <a href="javascript:;" _href="{% url 'nids:panel_user_list' %}">
                                <cite>用户列表</cite>
                            </a>
                        </dd>
                        <dd class="">
                            <a href="javascript:;" _href="{% url 'nids:panel_user_create' %}">
                                <cite>创建用户</cite>
                            </a>
                        </dd>
                        <dd class="">
                            <a href="javascript:;" _href="{% url 'nids:panel_role_list' %}">
                                <cite>角色列表</cite>
                            </a>
                        </dd>
                        <dd class="">
                            <a href="javascript:;" _href="{% url 'nids:panel_role_create' %}">
                                <cite>创建角色</cite>
                            </a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="javascript:;" href="javascript:;">
                        <i class="layui-icon" style="top: 3px;">&#xe614;</i><cite>系统设置</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd class="">
                            <a href="javascript:;" _href="{% url 'nids:panel_setting' %}">
                                <cite>系统设置</cite>
                            </a>
                        </dd>
                        <dd class="">
                            <a href="javascript:;" _href="{% url 'nids:panel_system_log' %}">
                                <cite>系统日志</cite>
                            </a>
                        </dd>
                        <dd class="">
                            <a href="javascript:;" _href="{% url 'nids:panel_shutdown_reboot' %}">
                                <cite>关闭重启</cite>
                            </a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-tab layui-tab-card site-demo-title x-main" lay-filter="x-tab" lay-allowclose="true">
        <div class="x-slide_left"></div>
        <ul class="layui-tab-title">
            <li class="layui-this">
                系统信息
                <i class="layui-icon layui-unselect layui-tab-close">ဆ</i>
            </li>
        </ul>
        <div class="layui-tab-content site-demo site-demo-body">
            <div class="layui-tab-item layui-show">
                <iframe frameborder="0" src="{% url 'nids:panel_welcome' %}" class="x-iframe"></iframe>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'nids/lib/layui/layui.js' %}" charset="utf-8"></script>
<script src="{% static 'nids/js/x-admin.js' %}"></script>

</body>
</html>